/* 
 * colors:
 * #67D
 * #678
 * #99C
 * #BBB
 * #FFF
 */

body {
	background: #BBB;
	font-family: Verdana;
	color: #FFF;
}
.center {
	position: relative;
	width: 800px;
	left: 50%;
	margin-left: -400px;
}
.frontlink {
	position: relative;
	width: 500px;
	left: 50%;
	margin-left: -100px;
	margin-top: 10px;
	text-align: right;
}
.button {
	font-family: Verdana;
	background: #FFF;
	color: #67D;
	border-style: none;
}
.textout {
	font-family: Verdana;
	background: #FFF;
	color: #678;
	border-style: none;
}
#about {
	margin-top: 40px;
}
#cancan {
	background: #FFF;
	height: 600px;
	margin-top: 10px;
}
#horsymbar {
	background: #BBB;
	position: absolute;
	top: 299px;
	left: 0px;
	width: 800px;
	height: 2px;
	visibility: hidden;
}
#vertsymbar {
	background: #BBB;
	position: absolute;
	top: 0px;
	left: 399px;
	width: 2px;
	height: 600px;
	visibility: hidden;
}
#gridcanvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#stampcanvas {
	cursor: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
#controls {
	margin-top: 10px;
}
#controlKeys {
	font-size: 75%
}
#foot {
	padding-top: 10px;
}

a:link    {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
	text-decoration: none;
}
a:hover   {
	color: #67D;
	text-decoration: none;
}
a:active  {
	color: #67D;
	text-decoration: none;
}

